<div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Edit Setting</nb-card-header>
                <nb-card-body>
                    <form (ngSubmit)="updateSetting()">
                        <div class="form-group" *ngFor="let setting of settings">
                            <label for="{{ setting.key }}" style="text-transform: capitalize">{{ formatKey(setting.key) }}</label>
                            <textarea class="form-control" id="{{ setting.key }}" [(ngModel)]="updatedSettings[setting.key]" placeholder="{{ setting.key }}" name="{{ setting.key }}" ></textarea>
                        </div>                                 
                        <button type="submit" nbButton status="primary" size="medium" 
                        [nbSpinner]="showProgressButton" nbSpinnerStatus="primary" nbSpinnerSize="small" nbSpinnerMessage="Creating">
                            Update
                        </button>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>