<div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Edit Appointment</nb-card-header>
                <nb-card-body [nbSpinner]="showProgress" nbSpinnerStatus="danger">
                    <form (ngSubmit)="updateAppointment()" #form="ngForm">                            
                        <div class="form-group">
                                <label for="status">Address</label>
                                <textarea class="form-control" [value]="appointment.address.address" readonly></textarea>
                        </div>       
                        <div class="form-group">
                                <label for="status">Latitude</label>
                                <input class="form-control" [value]="appointment.address.latitude" readonly />
                        </div>       
                        <div class="form-group">
                                <label for="status">Longitude</label>
                                <input class="form-control" [value]="appointment.address.longitude" readonly />
                        </div>       
                        <div class="form-group">
                                <label for="status">User <i class="fa fa-eye icon-link" (click)="goToUser()"></i></label>
                                <input class="form-control" [value]="appointment.user.email" readonly />
                        </div>       
                        <div class="form-group">
                                <label for="status">Provider <i class="fa fa-eye icon-link" (click)="goToProvider()"></i></label>
                                <input class="form-control" [value]="appointment.provider.user.email" readonly />
                        </div>       
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select name="status" class="form-control" [(ngModel)]="appointmentRequest.status" #status=ngModel style="text-transform:capitalize">
                                <option *ngFor="let appointmentStatus of appointmentStatusList" [value]="appointmentStatus">{{ appointmentStatus }}</option>
                            </select>                        
                            <label class="error text-danger" *ngFor="let error of appointmentError.status">{{error}}</label>                        
                        </div>       
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" placeholder="Date" name="date" [(ngModel)]="appointmentRequest.date" #date=ngModel required />
                            <label [hidden]="date.valid || date.pristine"
                                    class="error text-danger">
                                    Date is required
                            </label>
                            <label class="error text-danger" *ngFor="let error of appointmentError.date">{{error}}</label>                        
                        </div>                                                                        
                        <div class="form-group">
                            <label for="time_from">Time From</label>
                            <input type="time" class="form-control" id="time_from" placeholder="Time From" name="time_from" [(ngModel)]="appointmentRequest.time_from" #time_from=ngModel required />
                            <label [hidden]="time_from.valid || time_from.pristine"
                                    class="error text-danger">
                                    Time From is required
                            </label>
                            <label class="error text-danger" *ngFor="let error of appointmentError.time_from">{{error}}</label>                        
                        </div>                                                                        
                        <div class="form-group">
                            <label for="time_to">Time To</label>
                            <input type="time" class="form-control" id="time_to" placeholder="Time To" name="time_to" [(ngModel)]="appointmentRequest.time_to" #time_to=ngModel required />
                            <label [hidden]="time_to.valid || time_to.pristine"
                                    class="error text-danger">
                                    Time To is required
                            </label>
                            <label class="error text-danger" *ngFor="let error of appointmentError.time_to">{{error}}</label>                        
                        </div>                                                                                                
                        <button type="submit" [disabled]="!form.form.valid" nbButton status="primary" size="medium" 
                        [nbSpinner]="showProgressButton" nbSpinnerStatus="primary" nbSpinnerSize="small" nbSpinnerMessage="Updating">
                            Update
                        </button>
                        &nbsp;
                        <button nbButton status="danger" size="medium" (click)="back()">
                            Back
                        </button>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>